streamlit
fastapi
uvicorn
google-genai
python-dotenv
requests
googlemaps
duckduckgo-search
yfinance
beautifulsoup4
python-docx
python-pptx
pypdf
pydantic
aiofiles
streamlit-mic-recorder
pillow
python-multipart
google-cloud-aiplatform
google-auth
